__pycache__
*.turbomole
coord
basis
control
mos
*.xyz
*.out
.vscode
*.egg-info
iets.dat
tests/H2O_dscf/distortions/
tests/H2O_dscf/output/
tests/H2O_ridft/distortions/
tests/H2O_ridft/output/
tests/H2O_ridft_gaussianin/distortions/
tests/H2O_ridft_gaussianin/output/
tests/C10H4Au6S2_ridft/distortions/
tests/C10H4Au6S2_ridft/output/
tests/H2O_ridft_fakegaussianin/distortions/
tests/H2O_ridft_fakegaussianin/output/

